body {
	background-color: #f9f9f9;
	font-family: 'Open Sans', sans-serif;
	margin: 0px auto;
}

canvas {
	border: 1px solid #e0e0e0;
	margin: 0px auto;
}

p {
	margin: 0px auto;
}

.chart-container {
	margin: 0px auto;
	width: 80%;
	text-align: center;
}